---
# See full list of options here: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
AlignEscapedNewlines: DontAlign
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: true
BinPackParameters: true
ColumnLimit: 120
IndentCaseBlocks: false
IndentCaseLabels: true
IndentWidth: 4
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: CaseSensitive